html {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  padding: 1em;
  margin: 0 auto;
}

img {
  display: inline-block;
  width: 20em;
  padding: .4em .75em .5em;
}

section {
  display: flex;
}

h1 {
  display: block;
}

p {
  display: block;
  padding-bottom: 1em;
  text-align: left;
  max-width: 25em;
  vertical-align: middle;
}

.btn {
  display: block;
  border: 3px solid #333;
  padding: .4em .75em .5em;
  border-radius: 8px;
  text-align: center;
}

div:hover {
  background-color: #666;
}
